<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <h3 class="text-center mt-2">Creating new listing</h3>
        <div class="col-8 offset-2">
     <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">title</label>
            <input type="text" name="listing[title]" id="" class="form-control" required>
            <div class="invalid-feedback">required</div>
        </div>

        <div>
            <label for="description">description</label>
            <textarea name="listing[description]" id="" cols="20" rows="1" class="form-control" required></textarea>
            <div class="invalid-feedback">required</div>
        </div class="mb-3">
        
        <div class="mb-3">
            <label for="image" class="form-label">image</label>
            <input type="file" name="listing[image]" id="" class="form-control">
        </div>
       
        <div class="row">
         <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input type="text" name="listing[price]" class="form-control" required>
            <div class="invalid-feedback">required</div>
         </div>
         <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input type="text" name="listing[country]" id="" class="form-control" required>
            <div class="invalid-feedback">required</div>
         </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input type="text" name="listing[location]" id="" class="form-control" required>
            <div class="invalid-feedback">required</div>
        </div>
       
        <button type="submit" class="btn btn-dark add-btn">submit</button>
        <br><br>
    </form>
    </div>
 </div>
    
</body>    